
:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

/*#main{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*height: 50vh;*!*/
/*    width: 50%;*/
/*    !*margin-right: 30px;*!*/
/*}*/

.board {
    text-align: center;
}

/*.board .leaderboard{*/
/*    margin-bottom: 1em;*/
/*}*/

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    /*padding: 0em 2em;*/
    border-radius: 50px;
    //background-color: transparent;
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */
    margin-top: 2em;
}

#profile .flex{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    gap: 1em;
    text-align: left;
    margin-left: -30px;
}

#profile .flex .item{
    display: flex;
    /*margin-left: 20px;*/
    margin-bottom: 20px;
    align-items: center;
}

/*.item-score{*/
/*    margin-left: 20px;*/
/*}*/

#profile .flex .item-score {
    padding-bottom: 20px;

}

#profile .flex img{
    width: 30%;
    border-radius: 50%;
    margin-left: 50px;
}

#profile .flex .info{
    /*display: flex;*/
    /*align-items: center;*/
    margin-left: -120px;
}

.text-dark{
    color: var(--color-dark);
}

#profile .flex .name {
    margin: 0;
}