.list-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.list-group-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 25px;
}

.ttr-navigation a > i {
    width: 40px;
    text-align: center;
    margin-right: 10px;
}

.list-group-item:focus {
    outline: none;
}

.sidebar-label {}

.sidebar-icon {
    background-color: transparent !important;
    color: black;
}

.list-group-item:hover {
    cursor: pointer;
    background: lightgray;
}

i {
    background: transparent !important;
}

.list-group-item.active {
    border: none;
    outline: none;
}