.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /*background-color: lightgray;*/
}

/*body{*/
/* margin: 0;*/
/* padding: 0;*/
/*}*/


/*.Board {*/
/*    width: 100%;*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*}*/


@media (max-width: 992px) {
    .board {
        display: none;
    }
}

@media (max-width: 992px) {
    .routes-container {
        display: none;
    }
}

/*@media only screen and (max-width: 992px) {*/
/*    .Board {*/
/*        display: none;*/
/*    }*/
/*}*/


/*@media only screen and (max-width: 992px) {*/
/*    .Board {*/
/*        max-width: none;*/
/*    }*/
/*}*/

.Sidebar {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}

.FirstThird {
    background-color: lemonchiffon;
    
}

.SecondThird {
    background-color: lightblue;
}

.Third {
    background-color: lavender;
}

/*select {*/
/*    height: 120px;*/
/*    border: none;*/
/*    width: 100%;*/
/*}*/