.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /*background-color: lightgray;*/
}

/*body{*/
/* margin: 0;*/
/* padding: 0;*/
/*}*/

.Sidebar {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}

.FirstThird {
    background-color: lemonchiffon;
    
}

.SecondThird {
    background-color: lightblue;
}

.Third {
    background-color: lavender;
}

/*select {*/
/*    height: 120px;*/
/*    border: none;*/
/*    width: 100%;*/
/*}*/